#home-screen {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
}

#home-screen > #home {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
}

#home-screen > #home > h2 {
  margin: 10px 0 0 0;
}

#home-screen > #home > button {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  margin: 15px 0;
  padding: 4px 22px;
  cursor: pointer;
  color: white;
  background-color: rgb(59, 158, 190);
}

#home-screen > #home > #products {
  height: auto;
  width: 90%;
  margin: auto;
  margin: 50px 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}

#home-screen > #home > #products > .product {
  width: 18%;
  height: auto;
  margin: 20px 0;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgb(190, 190, 190);
}

#home-screen > #home > #products > .product > .image {
  height: 200px;
  width: 100%;
  /* border: 1px solid black; */
}

#home-screen > #home > #products > .product > .image > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#home-screen > #home > #products > .product > .details {
  width: 100%;
  padding: 5px 20px 10px 20px;
  /* border: 1px solid black; */
}

#home-screen > #home > #products > .product > .details > h2 {
  font-weight: 600;
  font-size: 20px;
}

#home-screen > #home > #products > .product > .details > h3 {
  font-weight: 600;
  color: rgb(39, 39, 39);
}
